{% extends "base.j2" %}

{% block title %}
Create Newsletter
{% endblock title %}

{% block body %}

<h1>Create a new Newsletter</h1>

<form action="" method="post">
    <input name="name" type="text" placeholder="Newsletter Name" />
    <button>Create</button>
</form>

{% endblock body %}