{% extends "base.j2" %}
{% block title %}
Home
{% endblock title %}
{% block body %}

{% if g.user %}
<h1>Hello {{g.user.display_name or g.user.email}}</h1>
{% else %}
<h1>Hello there yo</h1>
{% endif %}

<a href="newsletters">Newsletters</a>

{% endblock body %}