{% extends "base.j2" %}
{% block title %}
Home
{% endblock title %}
{% block body %}

{% if g.user %}
<h1>Hello {{g.user.display_name or g.user.email}}</h1>
{% else %}
<h1>Hello there yo</h1>
{% endif %}

<div class="newsletter">
    <h2>Newsletter Title</h2>
    <section>
        <h3>Question 1</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nesciunt impedit culpa natus laudantium
            praesentium soluta veritatis vel eveniet beatae doloribus atque suscipit magni! Possimus velit non tempore
            libero iure!</p>
    </section>
    <section>
        <h3>Question 2</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nesciunt impedit culpa natus laudantium
            praesentium soluta veritatis vel eveniet beatae doloribus atque suscipit magni! Possimus velit non tempore
            libero iure!</p>
    </section>
    <section>
        <h3>Question 3</h3>
        <p>Hi :)</p>
    </section>
</div>

{% endblock body %}