{% extends "base.j2" %}

{% block title %}
Newsletters
{% endblock title %}

{% block body %}

<a href="create">Create a new newsletter</a>

<div class="newsletter">
  <h2>Newsletter Title</h2>
  <section>
    <h3>Question 1</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nesciunt impedit culpa natus laudantium
      praesentium soluta veritatis vel eveniet beatae doloribus atque suscipit magni! Possimus velit non tempore
      libero iure!</p>
  </section>
  <section>
    <h3>Question 2</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, nesciunt impedit culpa natus laudantium
      praesentium soluta veritatis vel eveniet beatae doloribus atque suscipit magni! Possimus velit non tempore
      libero iure!</p>
  </section>
  <section>
    <h3>Question 3</h3>
    <p>Hi :)</p>
  </section>
</div>

{% endblock body %}