{% extends "base.j2" %}

{% block title %}
Register
{% endblock title %}

{% block body %}

<h1>Register</h1>

<form method="post">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <input class="submit-button" type="submit" value="Register">
</form>
{% endblock body %}